<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>掌上华师</title>
    <link rel="stylesheet" href="../css/public.css" type="text/css">
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/public.js"></script>
    <script src="../js/index.js"></script>
</head>
<body>
    <div id="div_body">
        <div id="top">
            <div class="top_center max_div center_div">
                <div class="top_center_left">
                    <div class="div_logo">
                        <img src="../img/hd_logo.png" alt="">
                    </div>
                    <div class="div_title">
                        掌上华师
                    </div>
                </div>
                <div class="top_center_right">
                    <div class="div_login">
                        <div>登录</div>
                        <div>注册</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="type">
            <div class="type_center max_div center_div">
                <ul>
                    <li v-bind:class="{'li_show':type_ID==0}" v-on:click="type_ID=0">活动情况</li>
                    <li v-bind:class="{'li_show':type_ID==1}" v-on:click="type_ID=1">编辑界面</li>
                </ul>
            </div>
        </div>
        <div id="content">
            <div class="content_center max_div center_div">
                <div v-bind:class="{'div_show':type_ID==0}" id="div_platformInterface">
                    <div class="div_menu">
                        <div class="div_menu_input">
                            <div>
                                <div class="div_input">
                                    <div>
                                        <div class="div_icon">
                                            <img src="../img/shousuo.png" alt="">
                                        </div>
                                        <input type="text" v-model="platformInterface.search" autocomplete="off" placeholder="搜索......">
                                    </div>
                                </div>
                                <div class="div_button" v-if="platformInterface.if_search" v-on:click="search_button(platformInterface.id)">
                                    取消
                                </div>
                            </div>
                        </div>
                        <div class="div_menu_list">
                            <div class="div_scrollbar">
                                <ul v-if="!platformInterface.if_search">
                                    <li v-for="(menu,index) in platformInterface.dataList">
                                        <div class="li_title li_check " v-bind:class="{'li_show':menu.show}" v-on:click="clickJump(getMadianIdByTitle(index,platformInterface.id),platformInterface.id,index,null)">{{menu.title}}</div>
                                        <ul class="li_ul">
                                            <li class="li_check" v-for="(menu_li,index2) in menu.data"  v-bind:class="{'li_show':menu_li.show}" v-on:click="clickJump(getMadianIdByTitle_t(index,index2,platformInterface.id),platformInterface.id,null,index+'_'+index2)"><div>{{menu_li.title}}</div></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul v-if="platformInterface.if_search" class="ul_shousuo">
                                    <li v-for="(menu,index) in platformInterface.dataList">
                                        <ul class="li_ul">
                                            <li class="li_check" v-for="(menu_li,index2) in menu.data" v-if="menu_li.title_show"  v-bind:class="{'li_show':menu_li.show}" v-on:click="clickJump(getMadianIdByTitle_t(index,index2,platformInterface.id),platformInterface.id,null,index+'_'+index2)"><div>{{menu_li.title}}</div></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="div_list div_scrollbar">
                        <!--<ul>-->
                        <div>
                            <ul>
                                <li  v-for="(li,index) in platformInterface.dataList" v-bind:id="getMadianIdByTitle(index,platformInterface.id)">
                                    <div class="li_title">{{li.title}}</div>
                                    <div class="li_text" >
                                        <ul>
                                            <li v-for="(li_d,index2) in li.data" v-bind:id="getMadianIdByTitle_t(index,index2,platformInterface.id)">
                                                <div class="li_name">{{li.title}}-{{li_d.title}}</div>
                                                <div class="li_mode">
                                                    <div>
                                                        <div>{{li_d.type}}</div>
                                                    </div>
                                                    <div>{{li_d.url}}</div>
                                                </div>
                                                <div class="li_tit" v-if="ifShowParameter(li_d.parameter)">
                                                    <a href="file:///D:/workspace/xialu/index.html">详情</a>
                                                </div>
                                                <div class="li_table" v-if="ifShowParameter(li_d.parameter)">
                                                    <table>
                                                        <thead>
                                                        <tr>
                                                            <th>活动</th>
                                                            <th>举办日期</th>
                                                            <th>状态</th>
                                                            <th>发起人</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr v-for="t in li_d.parameter">
                                                            <td>{{t.key}}</td>
                                                            <td>{{t.type}}</td>
                                                            <td>{{t.state}}</td>
                                                            <td v-html="t.describe">{{t.describe}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--</ul>-->
                    </div>
                </div>
                <div  v-bind:class="{'div_show':type_ID==1}" id="div_hardwareInterface">

                </div>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el:"#div_body",
            data:{
                type_ID:0,
                platformInterface:{
                    id:0,
                    search:"",
                    if_search:false,
                    Scroll:0,
                    dataList:[]
                },
                hardwareInterface:{
                    id:1,
                    search:"",
                    if_search:false,
                    Scroll:0,
                    dataList:[]
                }
            },
            created:function(){
                //初始化页面
                this.type_ID = 0;
                //获取平台接口
                this.getDate();
            },
            computed:{

            },
            methods:{
                getDate:function () {
                    if(this.type_ID==0){
                        //获取平台接口
                        this.platformInterface.dataList = [
                            {
                                title:"活动详情",
                                show:false,
                                data:[
                                    {
                                        title:"活动细节",
                                        title_show:false,
                                        show:false,
                                        type:"GET",
                                        url: "活动内容",
                                        parameter:[
                                            {
                                                key:"五月华师活动",
                                                type:"2020-9-16",
                                                state:"进行中",
                                                describe:"<p>教育研究学院</p>"
                                            },
                                            {
                                                key:"伍伦贡联合研究院活动",
                                                type:"2020-9-12",
                                                state: "已完成",
                                                describe:"<p>伍伦贡联合研究院</p>"
                                            },
                                            {
                                                key:"开学典礼",
                                                type:"2020-8-23",
                                                state: "进行中",
                                                describe:"<p>招生办</p>"
                                            }
                                        ]
                                    },
                                    {
                                        title:"活动具体内容",
                                        title_show:false,
                                        show:false,
                                        type:"POST",
                                        url:"/api/v1/uploadxlsx",
                                        parameter:[

                                          
                                        ]
                                    },
                                
                                    
                                ]
                            },
                            
                        ];
                    }else if(this.type_ID==1){
                        //获取硬件接口      

                    }
                },
                //判断Parameter是否为空，为空就隐藏
                ifShowParameter:function (obj) {
                    return obj.length>0?true:false;
                },
                //获取一级标题锚点id
                getMadianIdByTitle:function (index,id) {
                    return "api_"+id+"_"+index;
                },
                //获取二级标题锚点id
                getMadianIdByTitle_t:function (index,index2,id) {
                    return "api_"+id+"_"+index+"_"+index2;
                },
                //点击菜单右边跳转到指定内容位置
                clickJump:function (id,type,index,index2) {
                    if(type==0){
                        // $.each(this.platformInterface.dataList,function (k,v) {
                        //     if(index==k){
                        //         v.show = true;
                        //     }else{
                        //         v.show = false;
                        //     }
                        //     $.each(v.data,function (k1,v1) {
                        //         if(k+"_"+k1==index2){
                        //             v1.show = true;
                        //         }else{
                        //             v1.show = false;
                        //         }
                        //     });
                        // });
                        var h = Math.abs($("#"+id).position().top);
                        $("#div_platformInterface .div_list").animate({
                            scrollTop : h
                        },1000);
                    }else if(type==1){
                        console.log(2);
                    }
                },
                //取消
                search_button:function(t){
                    if(t == this.platformInterface.id){
                        this.platformInterface.search="";
                    }else if(t == this.hardwareInterface.id){
                        this.hardwareInterface.search="";
                    }
                },
                handleScroll:function(e){
                    if($(e.target).parent().attr("id")=="div_platformInterface"){
                        this.platformInterface.Scroll = e.target.scrollTop;
                    }else if($(e.target).parent().attr("id")=="div_hardwareInterface"){
                        this.hardwareInterface.Scroll = e.target.scrollTop;
                    }
                }
            },
            mounted:function () {
                window.addEventListener('scroll',this.handleScroll,true)
            },
            watch:{
                'platformInterface.Scroll':function (val,oldval) {
                    // console.log(val);
                },
                'hardwareInterface.Scroll':function () {

                },
                'platformInterface.search':function (val,oldval) {
                    var _this = this;
                    if(!_this.platformInterface.if_search){
                        var search = eval("/^.*?"+val+".*?$/");
                        $.each(_this.platformInterface.dataList,function (k,v) {
                            $.each(v.data,function (k1,v1) {
                                if(search.test(v1.title)){
                                    console.log(v1.title);
                                    v1.title_show = true;
                                }else{
                                    v1.title_show = false;
                                }
                            });
                        });
                    }
                    if(val.length>0){
                        _this.platformInterface.if_search = true;
                    }else{
                        _this.platformInterface.if_search = false;
                    }
                },
                'hardwareInterface.search':function (val,oldval) {
                    var _this = this;
                    if(val.length>0){
                        _this.hardwareInterface.if_search = true;
                    }else{
                        _this.hardwareInterface.if_search = false;
                    }
                }
            }
        })
    </script>
</body>
</html>